@mixin dashboard-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dashboard {
    @include dashboard-center;
    margin: 200px 0px;

    &--error {
        @include dashboard-center;
        text-align: center;
        color: $color-red;
    }
}

@media (max-width: 768px) {
    .dashboard {
        margin: 320px 0px;
        padding-top: 45px;
    }
    .form__actions {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .form__body .form__field {
        display: flex;
        justify-content: center;
    }
}
