.dashboard {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 200px 0px;
}

@media (max-width: 768px) {
    .dashboard {
        margin: 320px 0px;
        padding-top: 45px;
    }
    .form__actions {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .form__body .form__field {
        display: flex;
        justify-content: center;
    }
}
