.form__title {
    text-align: center;
}

.form__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.form__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form__field {
    margin: 10px;
}

.form__actions-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.form__actions-button {
    margin: 10px 10px;
}

@media (max-width: 768px) {
    .form__row {
        display: flex;
        flex-direction: column;
    }

    .form__actions-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form__actions-button {
        width: 100%;
    }
}
