/* You can add global styles to this file, and also import other style files */
 
@import './app/shared/scss/variables.scss';
@import './app/shared/scss/app.scss';
@import './app/shared/scss/sidebar.scss';
@import './app/shared/scss/card.scss';
@import './app/shared/scss/navbar.scss';
@import './app/shared/scss/dialog.scss';
@import './app/shared/scss/dashboard.scss';  ;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h6, h5 { color: $color-green-15;}
